.abaut {
  padding: 93px 0 93px 70px;
  display: flex;
  justify-content: space-between;

  &__info-text {
    font-weight: $font-light;
    font-size: $font-size-xxl;
  }

  &__info-text--decor {
    font-weight: $font-heavy;
    color: $secondary-color;
    font-size: $font-size-xxl;
  }

  &__me {
    padding: 60px 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
  }

  &__me-text {
    font-size: 32px;
    color: rgb(255, 255, 255);
  }

  &__me-box {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .abaut {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__info-text {
      font-size: 52px;
    }

    &__info-text--decor {
      font-size: 52px;
    }
  }
}

@media (max-width: 768px) {
    .abaut{

        &__info-text {
            font-size: 30px;
          }
      
          &__info-text--decor {
            font-size: 30px;
          }



    }
}
