.company {
  margin: 0 auto;
  padding: 70px;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 5px;
  }

  &__item {
    padding: 10px 24px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: 0 auto;
  }

  &__item-img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .company {
    &__box-media {
      display: none;
    }

    &__box-media-mobile {
      display: none;
    }
  }
  //   .company__box-media-mobile {
  //     display: none;
  //   }
}

@media (max-width: 1200px) {
  .company {
    &__box-media {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // padding: 0 30px;
    }

    &__box {
      display: none;
    }

    &__media-top-box {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    &__box-media-mobile {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .company {
    &__box-media-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    &__item-box {
      display: flex;
      gap: 10px;
    }
    &__item {
      margin: 0 auto;
    }
    &__box {
      display: none;
    }

    &__box-media {
      display: none;
    }
  }
}
