.footer{
    @include flex($direction:column);
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
  }
  
  .footer__copyright{
    font-family: $font5;
    font-weight: 400;
    font-size: $text-Mob;
    color: $fifth-color;
  }
  
  .footer__copyright-bold{
    font-family: $font4;
    font-weight: 400;
    font-size: $text-Mob;
    color: $fifth-color;
  }
  
  .footer__social-network{
    @include flex;
    gap: 10px;
  }
  
  @media (min-width: 768px){
    .footer{
      @include flex;
    justify-content: space-between;
    }
  }
  
  @media (min-width: 1200px){
    .footer{
      padding: 30px 70px;
    }
  }
  