@mixin flex($direction:row){
    display: flex;
    flex-direction: $direction;
  }
  @mixin grid($colums:1fr 1fr, $row:1fr) {
    display: grid;
    grid-template-columns: $colums;
    grid-template-rows: $row;
  }
  